<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{STORY_NAME}}</title>
	<%- bootstrap_css %>
	<%- style %>
</head>

<body>
	<!-- Script.  Needs to be before everything else because of custom elements-->
	<%- script %>
	<!-- Modal -->
	<div id="sm-modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content" id="sm-modal-content">
				<div class="modal-header">
					<h5 id="sm-modal-title" class="modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="sm-modal-body">
				</div>
				<div class="modal-footer" id="sm-modal-footer">
				</div>
			</div>
		</div>
	</div>
	<div id="sm-body">
		<div id="sm-passage" class="sm-passage" aria-live="polite"></div>
	</div>
	<div id="sm-story-data" hidden>
		<tw-story tags></tw-story>
		{{STORY_DATA}}
	</div>
	<div id="sm-templates" hidden>
		<%- templates %>
	</div>
	<%- jquery %>
	<%- lodash %>
	<%- bootstrap %>
</body>

</html>